# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\etudiant\Desktop\inteface graphique\Interface ergonomie\Rahmani_El_Quchiri_PIGE_2020\ELQUCHIRI_RAHMANI_Code_Source\ELQUCHIRI_RAHMANI_PIGE_2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
